
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Avenir Next Cyr';
    color: #ffffff;
    background: url(../images/bg.png);
}

.top-logo {
    height: 90px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background: #fff;
    height: 65px;
    
    
}

.main-nav-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px 0;
    
}

.main-nav {
     
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.main-nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #0b519f;
    
}

#main-nav-button {
    
    border: 1px solid #0b519f;
    border-radius: 24px;    
    height: 48px;
    width: 240px;
    background: #0b519f;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-nav-button a {
    color: #fff;
    padding: auto;
}

.banner-container {
    background: center url(../images/banner.png);
    height: 569px;
}