* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Avenir Next Cyr';
    color: #ffffff;
    background: url(../images/bg.png);
    min-width: 885px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 72px;
    font-weight: bold;
    color: #0b519f;
    margin: 30px 0;
}

h2 {
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    color: #ffdc29;
    margin-bottom: 26px;
    
}

p {
    font-size: 20px;
    line-height: 30px;
    color: white;
    font-weight: bold;
}

p span {
    color: #ffdc29;
    background: #0a0b0e;
    border-radius: 3px;
    padding: 0 6px;
}

.top-logo {
    height: 90px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background: #fff;
    height: 65px;
}

.main-nav-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px 0;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #0b519f;
}

#main-nav-button {
    border: 1px solid #0b519f;
    border-radius: 24px;
    height: 48px;
    width: 240px;
    background: #0b519f;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-nav-button span {
    color: #fff;
    padding: auto;
}

.banner-container {
    background: center url(../images/banner.png);
    height: 569px;
}

.banner-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
}

.banner-content {
    max-width: 390px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#banner-heading {
    color: white;
    font-size: 36px;
    font-size: bold;
    
}

#banner-heading span {
    background: #0b519f;
    padding: 8px;
    line-height: 48px;
    border-radius: 10px;
}

#banner-button {
    height: 48px;
    width: 240px;
    border: 2px solid #0b519f;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 44px 0;
}

#banner-button span {
    text-decoration: none;
    font-size: 18px;
    color: #0b519f;
    font-weight: bold;
}

.pack-container {
    max-width: 1200px;
    margin: 135px auto 100px auto;
    
}

.pack-wrapper {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.pack {
    max-width: 477px;
    max-height: 289px;
    
    margin: 25px;
}

.pack-text {
    max-width: 515px;
    
    margin: 25px;
}

#pack-button {
    height: 48px;
    width: 240px;
    border: 2px solid #09b2c4;
    background: #09b2c4;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 44px 0;
}

#pack-button span {
 
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.for-what-container {
   
    max-width: 1200px;
    margin: 0 auto;
}

.for-what-images-container {
    margin: 40px 0;
}

.for-what-text {
    max-width: 95%;
    margin: 0 auto;
    text-align: center;
}

.for-what-image {
    max-width: 285px;
}

.for-what-image img {
    border-radius: 4px;
    max-width: 100%;
}

.for-what-images {
    display: flex;
    justify-content: space-between;
}
